* {
    outline: none;
}
.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.formDiv {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,90,1) 100%);
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
}
.conditionDiv {
    display: flex;
    flex-direction: column;
    text-align: left;
}
label {
    font-size: 25px;
}
input {
    user-focus: none;
    outline: none;
    height: 35px;
    margin: 2px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.buttonDiv {
    text-align: center;
}
button {

    margin: 20px;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    font-size: 25px;
    background: white;
    outline: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#topDiv {
    margin-bottom: 20px;
}
#topLabel {
    font-size: 30px;
}